<po-page-default>
  <header>
    <h1>Dasboard FORD</h1>
  </header>
  <body>
    <div class="td-page-wrapper" *ngIf="vehicles && vehiclesModelData; else elseBlock">
      <div class="po-row">
        <div class="po-md-3 value-card">
          <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Veículo</div>
            <div class="card-body text-dark">
              <select (change)="selectVehicle($event.target.value); setCardValues($event.target.value); setVehicleData($event.target.value)" class="custom-select">
                <option value="" disabled selected hidden>Selecione um veículo</option>
                <option *ngFor="let vehicle of vehicles; let i = index" [value]="vehicles[i].id">
                  {{ vehicles[i].vehicle }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="po-md-3 value-card">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Total de vendas</div>
            <div class="card-body">
              <h5 class="card-title">{{totalSales}}</h5>
              <p class="card-text">Unid.</p>
            </div>
          </div>
        </div>
        <div class="po-md-3 value-card">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Conectados</div>
            <div class="card-body">
              <h5 class="card-title">{{connected}}</h5>
              <p class="card-text">Unid.</p>
            </div>
          </div>
        </div>
        <div class="po-md-3 value-card">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Update Software</div>
            <div class="card-body">
              <h5 class="card-title">{{softwareUpdates}}</h5>
              <p class="card-text">Unid.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="po-row container-img">
        <img
        class="img-fluid d-sm"
        [src]="vehicleImg"
        onerror="this.src = '../../../assets/img/logo/ford.png'"
        />
      </div>
      <div class="po-row container-data">
        <div class="po-xl-2 po-lg-2 po-md-4 po-sm-7">
          <po-input p-label="Buscar pelo Código do Veículo:" [formControl]="vinInput"></po-input>
        </div>
        <div class="po-row dy-table" *ngIf="vehiclesData | async as vehiclesData">
          <po-table
            [p-columns]="columns"
            [p-items]="items"
            [p-literals]="customLiterals"
          >
          </po-table>
        </div>
      </div>
    </div>
  </body>
  <ng-template #elseBlock><p class="no-data">Dados não encontrados</p></ng-template>
</po-page-default>
